@media(max-width:767px){
    .main_left{
        justify-content: center;
        text-align: center;
    }
    .me{
        width: auto;
        margin: 0 auto;
    }
    .banner_img_box img{
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}
@media(max-width:415px){
    .btn-link{
        font-size: 18px;
    }
}
@media(max-width:280px){
    .btn-link{
        font-size: 14px;
        padding: 5px;
    }
}